@{
    ViewBag.Title = "Home Page";
    //Layout = null;
}




<div class="jumbotron">
    <h1>Писательская платформа</h1>
    <p class="lead">Платформа вашего писателя - это, в основном, группа мероприятий, в которых вы участвуете, чтобы ваше имя и работа были замечены общественностью. Это маркетинг, а не конкретная работа, а вы как автор. Это все, что вы делаете, чтобы построить свой бренд.</p>
    <p> @Html.ActionLink("Приступить к созданию нечто", "Create","Users")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начни прямо сейчас!</h2>
        <p>
            Если вы в настоящее время не опубликованы, то факт, что вы строите платформу и рекламируете себя, отлично подходит для издателей. 
            Издатели любят авторов, которые хотят выйти и продать себя.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Советы авторам литературы</h2>
        <p>Наш сайт, на котором будет собрана информация по вашей теме: так вы зарекомендуете себя в качестве эксперта в своей нише.
            Собираете email-адреса у читателей.
            Пишете много и часто для вашей целевой аудитории и углубляйтесь в детали.</p>
        <p><a class="btn btn-default" href="https://www.theodstavec.org/35-tips-for-writers/">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Можно ли обойтись без платформы?</h2>
        <p>Можно, но тогда вам придется выстраивать литературную карьеру традиционным путем. А это, прямо скажем, не всегда прибыльно и эффективно.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Подробнее &raquo;</a></p>
    </div>
</div>